@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-soothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-optical-sizing: auto;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;

    font-family: "Montserrat", sans-serif;
  }

  body {
    @apply bg-white text-gray-600;
    font-family: "Roboto", sans-serif;
  }
}

@layer utilities {
  .animate-clip {
    animation: animate 3s ease-in-out infinite;
  }
  .alternate-animation {
    animation: scroll-right 43s linear infinite;
    animation-play-state: running;
    &:hover {
      animation-play-state: paused;
    }
  }
  .animate-slide {
    animation: scroll-left 45s linear infinite;
    animation-play-state: running;
    &:hover {
      animation-play-state: paused;
    }
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(-50%);
    }
  }
  @keyframes scroll-right {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(50%);
    }
  }

  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0 40%,
        16% 39%,
        28% 43%,
        40% 53%,
        60% 54%,
        80% 51%,
        100% 45%,
        100% 100%,
        0 100%
      );
    }
    50% {
      clip-path: polygon(
        0 50%,
        16% 55%,
        34% 52%,
        50% 47%,
        63% 35%,
        80% 30%,
        100% 33%,
        100% 100%,
        0 100%
      );
    }
  }
}

/* css for title */
.title {
  font-size: 1.5rem;
  color: transparent;
  background: linear-gradient(123deg, white, blue);
  background-clip: text;
  -webkit-text-stroke: 1px #0077c0;
  -webkit-text-fill-color: transparent;
  background-size: 200% 200%;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  animation: gradientMove 4s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
/*  raduis*/
.radius {
  border-radius: 87% 13% 75% 25% / 27% 71% 29% 73%;
}
.hero-raduis {
  border-radius: 100% 0% 100% 0% / 0% 66% 34% 100%;
}
