@import url("https://fonts.googleapis.com/css2?family=Marko+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-soothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Marko One", cursive;
  }

  body {
    @apply bg-white text-gray-900;
    font-family: "Roboto", sans-serif;
  }
}

@layer utilities {
  .animate-clip {
    animation: animate 3s ease-in-out infinite;
  }
  .animate-slide {
    animation: scroll-left 25s linear infinite;
    animation-play-state: running;
    &:hover {
      animation-play-state: paused;
    }
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    10% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-154px); /* ~1 slide */
    }
    30% {
      transform: translateX(-308px); /* ~2 slides */
    }
    40% {
      transform: translateX(-462px); /* ~3 slides */
    }
    50% {
      transform: translateX(-616px); /* max shift */
    }
    60% {
      transform: translateX(-616px);
    }
    70% {
      transform: translateX(-462px);
    }
    80% {
      transform: translateX(-308px);
    }
    90% {
      transform: translateX(-154px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0 40%,
        16% 39%,
        28% 43%,
        40% 53%,
        60% 54%,
        80% 51%,
        100% 45%,
        100% 100%,
        0 100%
      );
    }
    50% {
      clip-path: polygon(
        0 50%,
        16% 55%,
        34% 52%,
        50% 47%,
        63% 35%,
        80% 30%,
        100% 33%,
        100% 100%,
        0 100%
      );
    }
  }
}

/* css for title */
.title {
  font-size: 1.5rem;
  color: transparent;
  background: linear-gradient(123deg, white, blue);
  background-clip: text;
  -webkit-text-stroke: 1px #0077c0;
  -webkit-text-fill-color: transparent;
  background-size: 200% 200%;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  animation: gradientMove 4s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
/*  raduis*/
.radius {
  border-radius: 87% 13% 75% 25% / 27% 71% 29% 73% ;
}
